@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");
.header {
  background-color: white;
  position: sticky; }
  .header__navItem {
    color: #8049b4; }
  .header__navItem:hover {
    color: #e290b2;
    font-weight: bold; }
  .header__botonBusqueda {
    background: linear-gradient(-45deg, #ff537e, #f4a074, #2973b4, #104d82);
    background-size: 800% 400%;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both; }
  .header__botonBusqueda:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05); }
  .header__botonBusqueda:active {
    animation: gradient 3s infinite;
    transform: scale(0.8); }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.h1 {
  font-size: 1.2rem; }
  .h1__index {
    color: #ff537e;
    font-family: 'Montserrat', sans-serif; }

.cards {
  background-color: white;
  align-content: center; }
  .cards__botonCartas, .botonContacto {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: white; }
  .cards__shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .cards__shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(159, 0, 233, 0.4);
    transition: 0.3s; }
  .cards__cardContacto {
    background-color: #fff2f8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem; }

.botonContacto {
  background-color: #ff537e; }

.botonContacto:hover {
  background-color: #d4145a; }

.producto {
  display: flex;
  text-align: center; }

.tarjeta {
  background-color: #FFFFFF;
  padding: 1rem; }

.footer {
  background-color: #fff3fa;
  font-weight: bold; }
  .footer__black {
    color: black; }
  .footer__black:hover {
    color: #550b9b; }
  .footer__copy {
    text-decoration: none;
    color: #7a539e; }
  .footer__copy:hover {
    text-decoration-line: underline;
    color: #a10a51; }

.icon--facebook {
  color: #121296; }

.icon--instagram {
  color: #d4145a; }

.icon--pinterest {
  color: #f71414; }

.categorias {
  font-size: 1.2rem;
  font-weight: bold; }

.aList {
  color: #9a5edd; }

.aList:hover {
  color: #ca0a74; }

.card-title {
  color: #ff537e; }

@media only screen and (max-width: 767px) {
  .footerFlex .d-flex {
    display: flex;
    flex-direction: column; }
  .d-flex {
    display: flex; }
  .cardFlex {
    display: flex;
    justify-content: center;
    padding: 3rem; }
  .cardKit {
    margin-top: 10px; }
  .cardInt {
    margin-top: 10px; }
  .cardCompra {
    display: flex;
    flex-direction: column;
    margin: 5px; } }

@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  .footerFlex {
    display: flex;
    justify-content: space-around; }
  .d-flex {
    display: flex;
    flex-direction: row; }
  .h1 {
    margin: 50px; } }
