.cards{
    background-color: white;

    &__botonCartas{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        color: white;
     }


    &__shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    }

    &__shadow:hover{
    box-shadow:  0 8px 16px 0 rgba(159, 0, 233, 0.4);
    transition: 0.3s;
    }
    
    &__cardContacto{
        background-color: rgb(255, 242, 248);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
    }
}


.botonContacto{
     @extend .cards__botonCartas;
     background-color: $coral;
}

.botonContacto:hover{
    background-color: #d4145a;
}


@mixin text-center {
    display: flex;
    text-align: center;
}

.producto{
    @include text-center;
}


$estilos: (
    color: #FFFFFF,
    pad: 1rem,
);

.tarjeta {
   background-color: map-get($estilos, color);
   padding: map-get($estilos, pad );
}

