.footer{
    background-color: $rosaFooter;
    font-weight: $titleFooter;

    &__black{
    color: black;
    }

    &__black:hover{
    color: rgb(85, 11, 155);
    }

    &__copy{
    text-decoration: none;
    color: rgb(122, 83, 158);
    }

    &__copy:hover{
    text-decoration-line: underline;
    color: rgb(161, 10, 81);
    }

}






$redes: (
    facebook: #121296,
    instagram: #d4145a,
    pinterest: #f71414,

);

@each $red, $valor in $redes {
    .icon--#{$red} {
        color: $valor;
    }
}

